# 02 - PYTHON PROGRAMMING

## Python Hello World

In [10]:
# print Hello World in Python
print("Hello World")

Hello World

## Python Syntax

In [4]:
# comment

### Indentation - the spaces at the beginning of a code line 4 spaces

In [12]:
# Indentation
score = 80
if score >= 60:
    print("Pass")

Pass

## Python Variables

In [13]:
# Python Variables
x = 2
price = 2.5
word = 'Hello'

word = 'Hello'
word = "Hello"
word = '''Hello'''

### Independent Variable

In [18]:
# Independent Variable
x = 2

### Dependent Variable

In [19]:
# Dependent Variable
y = x + 1

## Python version

In [16]:
# Python_version()
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.13.5

## Python Data Types

In [29]:
# Python Data Types
x = "Hello World"   # str
x = 2               # int
x = 2.5             # float
x = 7j              # complex

In [26]:
# Python Data Types
x = ["apple", "banana", "cherry"]             # list
x = ("apple", "banana", "cherry")             # tuple
x = range(6)                                  # range
x = {"name" : "Tom", "age" : 20}              # dict
x = {"apple", "banana", "cherry"}             # set
x = frozenset({"apple", "banana", "cherry"})  # frozenset

In [28]:
# Python Data Types
x = True                 # bool
x = b"Hello"             # bytes
x = bytearray(5)         # bytearray
x = memoryview(bytes(5)) # memoryview
x = None                 # NoneType

## Python Casting

In [31]:
# Python Casting
x = str(3)         # x will be '3'
y = int(3)         # y will be 3
z = float(3)       # z will be 3.0
print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

## Python Numbers

In [33]:
# Python Numbers
x = 2             # int
y = 3.4           # float
z = 7j            # complex
print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

## Python Operators

### Operator Name Example

#### Addition +

In [38]:
# + Addition 7 + 2 = 9
print('7 + 2 =', 7 + 2)

7 + 2 = 9

#### Subtraction -

In [40]:
# - Subtraction 7 - 2 = 5
print('7 - 2 =', 7 - 2)

7 - 2 = 5

#### Multiplication *

In [41]:
# * Multiplication 7 * 2 = 14
print('7 * 2 =', 7 * 2)

7 * 2 = 14

#### Division /

In [42]:
# / Division 7 / 2 = 3.5
print('7 / 2 =', 7 / 2)

7 / 2 = 3.5

#### Floor division // (Quotient)

In [43]:
# // Floor division 7 // 2 = 3 (Quotient)
print('7 // 2 =', 7 // 2)

7 // 2 = 3

#### Modulus % (Remainder)

In [44]:
# % Modulus 7 % 2 = 1 (Remainder)
print('7 % 2 =', 7 % 2)

7 % 2 = 1

#### Exponentiation **

In [45]:
# ** Exponentiation 7 ** 2 = 49
print('7 ** 2 =', 7 ** 2)

7 ** 2 = 49

## Python Booleans: True or False

In [50]:
# Python Booleans: True or False
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False

## Python BMI Calculator

In [53]:
# BMI Calculator in Python
height_cm = 170
weight_kg = 60
height_m = height_cm/100
BMI = (weight_kg/(height_m**2))

print("Your BMI is: " + str(round(BMI,1)))

Your BMI is: 20.8

# Future value of a specified principal amount, rate of interest, and a number of years

## How much is your $100 worth after 7 years?

In [54]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

## Future Value

In [55]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [56]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7

future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

# Python Data Structures

## Python Data Types

In [59]:
# Python Data Types
x = ["apple", "banana", "cherry"]   # list
x = ("apple", "banana", "cherry")   # tuple
x = {"name" : "Tom", "age" : 20}    # dict
x = {"apple", "banana", "cherry"}   # set

## Python Collections

### List[]

In [62]:
# List[]
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

### Tuples()

In [64]:
# Tuples()
x = (10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])

10
20
30
50

### Set{}

In [66]:
# Set{}
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

### Dictionary {key : value}

#### Python Dictionary
Key => Value  
'EN' => 'English'  
'FR' => 'French'

In [68]:
# Python Dictionary
k = { 'EN':'English','FR':'French' }
print(k['EN'])

English

## Python Data Structures

In [69]:
fruits = ["apple", "banana", "cherry"]  # lists []
colors = ("red", "green", "blue")       # tuples ()
animals = {'cat', 'dog'}                # sets {}
person = {"name" : "Tom", "age" : 20}   # dictionaries {}

## Python for Finance Applications

### Python Lists

In [70]:
# Python Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

### Python Tuples

In [72]:
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002), ("Inventory", 1003))
for account in accounts:
    print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

### Python Sets

In [74]:
# Python Sets
account_numbers = {1001, 1002, 1003}
new_account_number = 1004
if new_account_number not in account_numbers:
    print("Account number", new_account_number, "is not in use.")

Account number 1004 is not in use.

### Python Dictionaries

In [75]:
# Python Dictionaries
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for account_number, account_info in accounts.items():
    print("Account number:", account_number)
    print("Account name:", account_info["name"])
    print("Account balance:", account_info["balance"])
    print("Account type:", account_info["type"])

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

# Python Control Logic and Loops

## Python if

In [79]:
# Python if
score = 80
if score >=60 :
    print("Pass")

Pass

## Python if else

In [81]:
# Python if else
score = 80
if score >=60 :
    print("Pass")
else:
    print("Fail")

Pass

## Python if elif else

In [82]:
# Python if elif else
score = 95
if score >= 90 :
    print("A")
elif score >=60 :
    print("Pass")
else:
    print("Fail")

A

In [87]:
# Python if elif else
score = 90
grade = ""
if score >=90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "E"
print(grade)

A

## Python for Loops

In [89]:
# Python for Loops
for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
# for loops
for i in range(1,10):
    for j in range(1,10):
        print(i, ' * ' , j , ' = ', i*j)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

## Python while Loops

In [92]:
# while loops
age = 10
while age < 20:
    print(age)
    age = age + 1

10
11
12
13
14
15
16
17
18
19

# Python Functions

## Python Function def

In [93]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
    fv = pv * ((1 + (r)) ** n)
    return fv
fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

# Future value of a specified principal amount, rate of interest, and a number of years

## How much is your $100 worth after 7 years?

In [96]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

## Future Value

In [98]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [99]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7

future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

## Python Function

In [102]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
    fv = pv * ((1 + (r)) ** n)
    return fv
fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

# Python Classes/Objects `class MyClass:`

## Python Classes/Objects

### `class MyClass:`

In [114]:
# Python class
class MyClass:
    x = 5

c1 = MyClass()
print(c1.x)

5

### `class Person:`

In [118]:
# Python class
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("Alan", 20)

print(p1.name)
print(p1.age)

Alan
20

In [115]:
# Python class
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("Alan", 20)
p1.myfunc()

Hello my name is Alan

In [116]:
# Python class
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("Alan", 20)
p1.myfunc()
print(p1.name)
print(p1.age)

Hello my name is Alan
Alan
20

### `class Vehicle:`

In [122]:
# Python class
class Vehicle:
    name = ""
    kind = "car"
    color = ""
    value = 100.00
    def description(self):
        desc_str = "%s is a %s %s worth $%.2f." %(self.name, self.color, self.kind, self.value)
        return desc_str

In [ ]:
# Python class
class Vehicle:
    name = ""
    kind = "car"
    color = ""
    value = 100.00
    def description(self):
        desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
        return desc_str

car1 = Vehicle()
car1.name = "Fer"
car1.color = "red"
car1.kind = "convertible"
car1.value = 60000.00

car2 = Vehicle()
car2.name = "Jump"
car2.color = "blue"
car2.kind = "van"
car2.value = 10000.00

print(car1.description())
print(car1.name)
print(car2.description())
print(car2.name)

Fer is a red convertible worth $60000.00.
Fer
Jump is a blue van worth $10000.00.
Jump

# Python Modules

In [130]:
# Python Modules
import mymodule
mymodule.greeting("Alan")

Hello, Alan

## Python File Input/Output

In [131]:
# Python File Input / Output
with open('myfile.txt', 'w') as file: 
    file.write('Hello World\nThis is Python File Input Output')

with open('myfile.txt', 'r') as file:
    text = file.read()
    print(text)

Hello World
This is Python File Input Output

In [132]:
# Python File Input / Output
filename = 'mymodule.py'
with open(filename, 'w') as file:
    text = '''def greeting(name):
    print("Hello, " + name)
    '''
    file.write(text)

with open(filename, 'r') as file:
    text = file.read()

print(filename)
print(text)

mymodule.py
def greeting(name):
    print("Hello, " + name)

## Python main() function

In [133]:
#Python main() function
def main():
    print("Hello World!")
if __name__ == "__main__":
    main()

Hello World!

# Files and Exception Handling

## Python Files (File Handling)

In [134]:
f = open("myfile.txt", "w")
f.write("Hello World")
f.close()

f = open("myfile.txt", "r")
text = f.read()
print(text)
f.close()

Hello World

In [135]:
# Python File Input / Output
with open('myfile.txt', 'w') as file:
    file.write('Hello World')
    
with open('myfile.txt', 'r') as file:
    text = file.read()
print(text)

Hello World

In [136]:
# Python File Input / Output
with open('myfile.txt', 'w') as file:
    file.write('Hello World\nPython File IO')

with open('myfile.txt', 'r') as file:
    text = file.read()
print(text)

Hello World
Python File IO

In [137]:
# Python File Input / Output
with open('myfile.txt', 'a+') as file:
    file.write('\n' + 'New line')

with open('myfile.txt', 'r') as file:
    text = file.read()
print(text)

Hello World
Python File IO
New line

In [155]:
# !ls list files
!ls

'ls' is not recognized as an internal or external command,
operable program or batch file.

### Python OS, IO, files, and Google Drive

In [146]:
import os

cwd = os.getcwd()
print(cwd)

C:\Users\THANHNGAN\Desktop\Ut\Github\sgu25_data_analytics\exercises\lab2

### `os.listdir()`

In [151]:
# List all files
os.listdir(cwd)

['.ipynb_checkpoints',
 'myfile.txt',
 'mymodule.py',
 'slide_02-Python-Programming_code.ipynb',
 '__pycache__']

### `os.path.join()`

In [156]:
path = os.path.join(cwd,'sample_data')

print(path)
os.listdir(path)

C:\Users\THANHNGAN\Desktop\Ut\Github\sgu25_data_analytics\exercises\lab2\sample_data

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'C:\\Users\\THANHNGAN\\Desktop\\Ut\\Github\\sgu25_data_analytics\\exercises\\lab2\\sample_data'